.reveal .slide-logo {
    display: block;
    position: fixed;
    bottom: unset !important;
    right: 12px !important;
    top: 5px;
    left: unset !important;
    height: 10vw !important; /* Adjust based on viewport width */
    width: 10vw !important; /* Adjust based on viewport width */
    max-width: unset !important;
    max-height: unset !important;
}

.hide-title {
  display: none;
}

.bordered {
  border: 1px solid black;
}

.terminal-border{
  border: 1px solid black;
  background-color:white;
  padding: 30px;
}

.center {
  text-align: center;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.white h1 {
  color: white;
}

.full-image-centre {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.centre-full-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.top-55 {
  top: 55%;
}

.top-65 {
  top: 65%;
}


.centre-full-image-drop {
  position: absolute;
  top:55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.centre-full-image-double-drop {
  position: absolute;
  top:60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.bottom-right {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px; /* Adjust the margin as needed */
}


.speaker-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.speaker-container-small {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left:10px;
  padding-bottom:10px;
}

.speaker-row {
  display: flex;
  flex-direction: center;
}

.speaker-image-container {
  display: flex;
  flex-direction: column;
  width: 100px;
  padding-left: 60px;
}

.speaker-image-container-small {
  display: flex;
  flex-direction: column;
  width: 80px;
  justify-content: center;
}

.speaker-image {
  height: 60px;
  width: 60px;
}

.speaker-text-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: left;
  justify-content: center;
  text-align: left;
  font-size: 24px;
}

.speaker-text-container a {
  display: inline;
}

.speaker-text-container b {
  display: inline;
}

.full-width {
  width: 100% !important;
}


.render-padding {
    padding-left: 50px;
    padding-top: 1em;
}

.bordered-image {
  border: 1px solid black;
  border-radius: 10px;
}

.image-container-play {
  display: flex;
  justify-content: center;
}

.image-container-play img {
  height: 100px; 
  margin: 0 5px;
  object-fit: cover;
}

.half-width {
  width: 50% !important;
  max-width: 50%;
  height: auto !important;
  justify-content: center;
}