.reveal .slide-logo {
  display: block;
  position: fixed;
  bottom: unset !important;
  right: 12px !important;
  top: 5px;
  left: unset !important;
  height: 120px !important;
  width: 120x !important;
  max-width: unset !important;
  max-height: unset !important;
}

.hide-title {
  display: none;
}

.bordered {
  border: 1px solid black;
}

.terminal-border{
  border: 1px solid black;
  background-color:white;
  padding: 30px;
}

.center {
  text-align: center;
}

.white h1 {
  color: white;
}