#post-images .item {
    position: relative;
    overflow: hidden;
    height: 200px;
}

#post-images .item img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
}

.zoom-effect {
    animation: zoom 3s ease-in-out forwards;
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

.supporter-frame {
    width: 100%;
    height: 200px;
    background-color: #f8f9fa;
    border: 15px solid;
    border-image: linear-gradient(to bottom, #8B4513, #cd7f32, #8B4513) 1;
    padding: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
}
